boto3
botocore
fastapi
fastmcp
httpx
langchain-chroma
langchain-community
langchain-core
langchain-mcp-adapters
langchain-openai
langchain-text-splitters
langgraph
mcp
pandas
pillow
pydantic
pymupdf
python-dotenv
requests
typing-extensions
uvicorn